.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.destination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0px 0px 88px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item header h4 {
  margin: 24px 0;
  font-weight: var(--tittles-weight);
  font-size: 28px;
  color: var(--background-tertiary-color);
}

.item p {
  width: 312px;
  height: 224px;
  line-height: 32px;
  font-weight: var(--text-weight);
  font-size: 20px;
  color: var(--text-primary-color);
}

.destinations .button {
  margin-top: 24px;
  width: 312px;
  display: flex;
  justify-content: center;
}

.img-item {
  height: 360px;
  width: 312px;
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.img-item2 {
  height: 360px;
  width: 312px;
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .img-item {
    height: 452px;
    width: 648px;
  }

  .img-item2 {
    height: 452px;
    width: 648px;
  }

  .item {
    align-items: flex-start;
  }

  .item p {
    width: 648px;
    height: 96px;
  }

  .item .p-osaka {
    width: 648px;
    height: 128px;
  }

  .item .button {
    margin-top: 24px;
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-item {
    flex-direction: row;
    justify-content: center;
  }

  .item {
    display: flex;
  }
  .img-item {
    width: 388px;
    height: 452px;
  }
  .img-item2 {
    width: 388px;
    height: 452px;
  }
  .item p {
    width: 388px;
    height: auto;
  }

  .item .p-osaka {
    width: 388px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .img-item {
    width: 588px;
    height: 452px;
  }
  .img-item2 {
    width: 588px;
    height: 452px;
  }
  .item p {
    width: 588px;
    height: auto;
  }

  .item .p-osaka {
    width: 588px;
    height: auto;
  }
}
